# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Archivos de VS Code y Rider
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Paquetes descargados por Unity
Packages/com.unity.package-manager-do-not-modify/
